.firstdiv {
    position: absolute;
    width: 290px;
    height: 500px;
    left: 480px;
    top: 50px;
    background-color: #fff;
    border-radius: 30px;
}

/**@media screen and (min-width: 780px) {
    div.mobile-collapse {
        margin: auto;
        width: 90%;
    }
}**/
@media only screen and (max-width: 30px) {

    /* For mobile phones: */
    .firstdiv,
    .maindiv {
        width: 100%;
    }
}

@media screen and (max-width: 30px) {

    .firstdiv,
    .maindiv {
        width: 100%;
    }
}

/**.maindiv img {
    max-width: 100%;
    height: auto;
}**/

.alternative {
    background-color: #BD7C2F;
    position: absolute;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    height: 230px;
}

.alternative img {
    position: absolute;
    width: 200px;
    height: 300px;
}

.firstdiv img {
    position: absolute;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 100%;
    height: 250px;
}

.seconddiv {
    width: 290px;
    margin-top: 340px;
    color: silver;
    text-align: center;
    background-color: #fff;
    border-bottom-left-radius: 19px;
    border-bottom-right-radius: 19px;
}

.seconddiv b {
    position: absolute;
    top: 245px;
    color: orange;
}

.seconddiv h1 {
    position: absolute;
    top: 280px;
    color: black;
    width: 300px;
    height: 100px;
}

.barbarian-name {
    font-size: 26px;
    color: black;
    font-weight: 900;
    margin-bottom: 5px;
}

.bottom-barbarian {
    color: white;
    font-weight: 700;
    background: orange;
    height: 112px;
    width: 290px;
    display: flexbox;
    overflow: hidden;
    border-bottom-left-radius: 19px;
    border-bottom-right-radius: 19px;
}

.bottom-1 {
    width: 33%;
    float: left;
    border-left: none;
    height: 100%;
}

.bottom-2 {
    width: 33%;
    float: left;
    border-left: 1px solid #BD7C2F;
    height: 100%;
}

.bottom-3 {
    width: 33%;
    float: left;
    border-left: 1px solid #BD7C2F;
    height: 100%;
}